.RadioButtonList li.horizontal {
	display: inline-block;
}

.RadioButtonList input {
	float: left;
}
.RadioButtonList span {
	display: block;
    margin-left: 20px;
    padding-bottom: 5px;
}
.dj_ie .RadioButtonList div {
	padding-top: 4px;
}
